body {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    width: 100%;
}

table {
    text-align: left;
    width: 400px;
}

ul {
    width: 150px;
    margin: 0px;
}

li {
    list-style: none;
}

.tiles {
    display: flex;
    flex-wrap: wrap;   
}

video {
    position: absolute;
    top: -100000px;
}
